// import fonts
@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Montserrat&family=Raleway:wght@200&display=swap');

// font variables
$heading-font: 'Montserrat',
sans-serif;
$paragraph-font: 'Esteban',
serif;
$details-font: 'Raleway',
sans-serif;

// font size variables
$big-heading-size: 3em;
$heading-size: 1.7em;
$paragraph-size: 1em;

// margin variables
$base-margin: 10px;
$double-margin: 20px;
$quad-margin: 40px;
$hr-margin: 15px;

// padding variables
$base-padding: 10px;
$main-icon-padding: 30px;
$double-padding: 20px;
$quad-padding: 40px;

// color variables
$color-one: #e1ecf7;
$color-two: #0077B6;
$color-three: #0096c7;
$color-four: #023E8a;
$color-five: #03045e;
$color-six: #ff6d00;
$color-seven: #ffffff;

// heading styles
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    font-size: $heading-size;
    margin: $base-margin;
}

// paragraph styles 
p {
    font-family: $paragraph-font;
    font-size: $paragraph-size;
    margin: $base-margin;
    padding-top: $base-padding;
}

// a styles
a {
    font-family: $details-font;
    color: $color-six;
}

// body styles
body {
    background-color: $color-one;
    line-height: 1.5;
    max-width: 2000px;
    margin: 0 auto;
}

// MIXINS 
//set breakpoint sizes
@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

// usage
//   .my-box {
//     padding: 10px;

//     @include for-desktop-up {
//       padding: 20px;
//     }
//   }

@mixin hr {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    margin-top: $hr-margin;
    background-color: $color-six;
}

@mixin main-icon-style {
    display: block;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    padding-top: $main-icon-padding;
}

@mixin resources-icon-styles {
    display: block;
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

// wave keyframe
@keyframes animateWave {
    0% {
        transform: scale(1, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}

.page-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    @include for-tablet-landscape-up {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: $color-seven;
    grid-column: 1/5;

    header h1 {
        text-indent: -9999px;
        line-height: 0;
        /* Collapse the original line */
    }

    header h1::after {
        content: 'CSS Zen Ocean';
        text-indent: 0;
        display: block;
        line-height: initial;
        font-size: 1.5em;
    }

    header h2 {
        font-size: 1.4em;
    }

    header h2::after {
        @include hr;
    }

    .preamble h3::after {
        @include hr;
    }
    
    header {
        padding-left: $double-padding;
        padding-top: $double-padding;
    }

    .summary {
        grid-column: 1/2;
        padding-left: $double-padding;
    }

    .summary p {
        font-family: $details-font;
        font-size: 1.2em;
    }

    .summary p:nth-last-of-type(1) {
        font-size: 1em;
    }

    .preamble {
        grid-column: 1/2;
        padding-left: $double-padding;
        margin-top: $quad-margin;
    }

    @include for-tablet-landscape-up {
        grid-template-columns: 1fr 1fr;

        .summary p:nth-last-of-type(1) {
            font-size: 1.2em;
        }

        header h1::after {
            content: 'CSS Zen Ocean';
            text-indent: 0;
            display: block;
            line-height: initial;
            font-size: $big-heading-size;
        }

        header h2 {
            font-size: 2em;
        }

        .summary p {
            font-family: $details-font;
            font-size: $heading-size;
        }
    }
}

.intro::after {
    content: url('../assets/icons/wave.svg');
    grid-column: 1/5;
    display: block;
    transform-origin: bottom;
    animation: animateWave 1500ms cubic-bezier(0.23, 1, 0.32, 1) forwards;

    @include for-tablet-landscape-up {
        margin-top: -80px;
    }
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    background-color: $color-one;
    padding: $quad-padding;
    grid-column: 1/2;
    margin-top: -10px;
    z-index: 2;

    h3::after {
        @include hr;
    }

    .explanation::before {
        content: url('../assets/icons/ship-solid.svg');
        @include main-icon-style;
        padding-bottom: 40px;
    }

    .participation::before {
        content: url('../assets/icons/water-solid.svg');
        @include main-icon-style;
        padding-bottom: 40px;
        margin-top: $double-margin;
    }

    .benefits::before {
        content: url('../assets/icons/sun-solid.svg');
        @include main-icon-style;
        padding-bottom: 60px;
        margin-top: 40px;
    }

    .benefits::after {
        content: url('../assets/icons/fish-solid.svg');
        @include main-icon-style;
    }

    .requirements::after {
        content: url('../assets/icons/umbrella-beach-solid.svg');
        @include main-icon-style;
        margin-top: 40px;
        padding-bottom: 40px;
    }

    .explanation {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .participation {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .benefits {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .requirements {
        grid-column: 1/2;
        grid-row: 4/5;
        margin-top: 40px;
    }

    footer {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
        margin-top: $base-margin;
    }

    footer a {
        text-decoration: none;
        color: $color-six;
        margin: $base-margin;
    }

    @include for-tablet-landscape-up {
        grid-template-columns: 1fr 1fr;
        margin-top: -10px;
        z-index: 2;
        grid-column: 2/5;

        .explanation {
            grid-column: 2/3;
            grid-row: 1/2;
        }

        .participation {
            grid-column: 1/2;
            grid-row: 2/3;
            margin-top: -300px;
        }

        .benefits {
            grid-column: 2/3;
            grid-row: 3/4;
            margin-top: -240px;
        }

        .requirements {
            grid-column: 1/3;
            grid-row: 4/5;
        }

        .benefits::after {
            content: '';
            display: none;
        }

        .participation::before {
            content: url('../assets/icons/water-solid.svg');
            @include main-icon-style;
            padding-bottom: 60px;
            margin-top: 20px;
        }
    
        .benefits::before {
            content: url('../assets/icons/sun-solid.svg');
            @include main-icon-style;
            padding-bottom: 130px;
            margin-top: -120px;
        }

        footer {
            grid-row: 5/6;
            grid-column: 1/3;
            justify-self: center;
            margin-top: $base-margin;
        }
    }
}

.sidebar {
    grid-column: 1/2;
    padding: $base-padding;
    margin-top: -10px;
    background-color: $color-one;
    padding-top: 40px;

    .wrapper {

        .design-selection {
            h3 {
                text-align: center;
            }

            h3::after {
                @include hr;
                margin: 0 auto;
                margin-top: $base-margin;
                margin-bottom: $base-margin;
            }

            nav ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 5px;
                text-align: left;

                li {
                    padding-left: 20px;
                    color: $color-six;
                    font-family: $details-font;
                    text-transform: capitalize;
                }

                .design-name {
                    color: $color-two;
                    text-decoration: none;
                    font-size: 1.1em;
                }

                .designer-name {
                    text-decoration: none;
                    font-size: .9em;
                }

                .design-name::after {
                    content: "\A";
                    white-space: pre;
                }
            }

        }

        .design-archives {

             h3 {
                 display: none;
             }

             nav ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 5px;
                justify-items: center;
                margin-top: $quad-margin;

                li {
                    color: $color-six;
                    font-family: $details-font;
                    text-transform: capitalize;
                }
            }
        }

        .zen-resources {

            h3 {
                display: none;
            }

            ul {
                margin-top: $quad-margin;
                margin-bottom: $quad-margin;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                align-items: center;


                .view-css {
                    visibility: hidden;
                    font-size: 0;
                }
                
                .view-css a::after {
                    content: url('../assets/icons/binoculars-solid.svg');
                    visibility: visible;
                    @include resources-icon-styles;
                }

                .css-resources {
                    visibility: hidden;
                    font-size: 0;
                }

                .css-resources a::after {
                    content: url('../assets/icons/anchor-solid.svg');
                    visibility: visible;
                    @include resources-icon-styles;
                }

                .zen-faq {
                    visibility: hidden;
                    font-size: 0;
                }

                .zen-faq a::after {
                    content: url('../assets/icons/link-solid.svg');
                    visibility: visible;
                    @include resources-icon-styles;
                }

                .zen-submit {
                    visibility: hidden;
                    font-size: 0;
                }

                .zen-submit a::after {
                    content: url('../assets/icons/paper-plane-solid.svg');
                    visibility: visible;
                    @include resources-icon-styles;
                }

                .zen-translations {
                    visibility: hidden;
                    font-size: 0;
                }

                .zen-translations a::after {
                    content: url('../assets/icons/question-solid.svg');
                    visibility: visible;
                    @include resources-icon-styles;
                    width: 35px;
                    height: 50px;
                }
            }
        }
    }

    @include for-tablet-landscape-up {
        grid-row: 2/3;
    }
}