@import url("https://fonts.googleapis.com/css2?family=Esteban&family=Montserrat&family=Raleway:wght@200&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  margin: 10px;
}

p {
  font-family: "Esteban", serif;
  font-size: 1em;
  margin: 10px;
  padding-top: 10px;
}

a {
  font-family: "Raleway", sans-serif;
  color: #ff6d00;
}

body {
  background-color: #e1ecf7;
}

@-webkit-keyframes animateWave {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes animateWave {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  background-color: #ffffff;
}

.intro header h1 {
  text-indent: -9999px;
  line-height: 0;
  /* Collapse the original line */
}

.intro header h1::after {
  content: 'CSS Zen Ocean';
  text-indent: 0;
  display: block;
  line-height: initial;
  font-size: 2.5em;
}

.intro header h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin-top: 15px;
  background-color: #ff6d00;
}

.intro .preamble h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin-top: 15px;
  background-color: #ff6d00;
}

.intro .summary {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.intro .preamble {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

@media (min-width: 900px) {
  .intro {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.intro::after {
  content: url("../assets/icons/wave.svg");
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: block;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: animateWave 1500ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
          animation: animateWave 1500ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: #e1ecf7;
  margin-top: -5px;
}

.main h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin-top: 15px;
  background-color: #ff6d00;
}

.main .explanation::before {
  content: url("../assets/icons/ship-solid.svg");
  display: block;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  padding-top: 30px;
}

.main .participation::before {
  content: url("../assets/icons/water-solid.svg");
  display: block;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  padding-top: 30px;
}

.main .benefits::before {
  content: url("../assets/icons/sun-solid.svg");
  display: block;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  padding-top: 30px;
}

.main .benefits::after {
  content: url("../assets/icons/fish-solid.svg");
  display: block;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  padding-top: 30px;
}

.main .requirements::after {
  content: url("../assets/icons/umbrella-beach-solid.svg");
  display: block;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  padding-top: 30px;
}

.main footer {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 10px;
}

.main footer a {
  text-decoration: none;
  color: #ff6d00;
  margin: 10px;
}

@media (min-width: 900px) {
  .main {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .main .explanation {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .main .participation {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .main .benefits {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .main .requirements {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

.sidebar .wrapper .design-selection h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin-top: 15px;
  background-color: #ff6d00;
}
/*# sourceMappingURL=styles.css.map */